Server/flows.json
[{"id":"9929af7c.ae976","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f451dbff.2559c8","type":"function","z":"9929af7c.ae976","name":"Gate","func":"if (msg.payload === \"Full\")node.send({ui_control:{onicon:\"bookmark\",oncolor:\"red\"},label:\"A1\",payload:true});\nif (msg.payload === \"Empty\")node.send({ui_control:{officon:\"bookmark\",offcolor:\"green\"},label:\"A1\",payload:false});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":120,"wires":[["edb5bc.0dedba48"]]},{"id":"18a0c148.d28a0f","type":"inject","z":"9929af7c.ae976","name":"A1.1_Full","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Full","payloadType":"str","x":400,"y":40,"wires":[["f451dbff.2559c8"]]},{"id":"8e6598a7.5f2448","type":"inject","z":"9929af7c.ae976","name":"A1.1_Empty","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Empty","payloadType":"str","x":410,"y":70,"wires":[["f451dbff.2559c8"]]},{"id":"25ea2f41.b3be8","type":"debug","z":"9929af7c.ae976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"edb5bc.0dedba48","type":"ui_switch","z":"9929af7c.ae976","name":"","label":"{{msg.label}}","tooltip":"","group":"647360fd.9a73c","order":1,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"onicon","oncolor":"oncolor","offvalue":"false","offvalueType":"bool","officon":"officon","offcolor":"offcolor","animate":true,"className":"","x":710,"y":120,"wires":[["25ea2f41.b3be8"]]},{"id":"58a0464a.0f0f18","type":"function","z":"9929af7c.ae976","name":"Gate","func":"if (msg.payload === \"Full\")node.send({ui_control:{onicon:\"bookmark\",oncolor:\"red\"},label:\"A2\",payload:true});\nif (msg.payload === \"Empty\")node.send({ui_control:{officon:\"bookmark\",offcolor:\"green\"},label:\"A2\",payload:false});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":220,"wires":[["f94701b1.f5c61"]]},{"id":"d0004b31.e2cd68","type":"inject","z":"9929af7c.ae976","name":"A1.2_Full","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Full","payloadType":"str","x":400,"y":160,"wires":[["58a0464a.0f0f18"]]},{"id":"9d90f62a.c3ed68","type":"inject","z":"9929af7c.ae976","name":"A1.2_Empty","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Empty","payloadType":"str","x":410,"y":190,"wires":[["58a0464a.0f0f18"]]},{"id":"bc2061e3.a5d3c","type":"debug","z":"9929af7c.ae976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":220,"wires":[]},{"id":"f94701b1.f5c61","type":"ui_switch","z":"9929af7c.ae976","name":"","label":"{{msg.label}}","tooltip":"","group":"647360fd.9a73c","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"onicon","oncolor":"oncolor","offvalue":"false","offvalueType":"bool","officon":"officon","offcolor":"offcolor","animate":true,"className":"","x":710,"y":220,"wires":[["bc2061e3.a5d3c"]]},{"id":"913a396.b8074c8","type":"function","z":"9929af7c.ae976","name":"Gate","func":"if (msg.payload === \"Full\")node.send({ui_control:{onicon:\"bookmark\",oncolor:\"red\"},label:\"A3\",payload:true});\nif (msg.payload === \"Empty\")node.send({ui_control:{officon:\"bookmark\",offcolor:\"green\"},label:\"A3\",payload:false});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":340,"wires":[["77c83cde.f11b94"]]},{"id":"7ef10a66.72cb54","type":"inject","z":"9929af7c.ae976","name":"A1.3_Full","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Full","payloadType":"str","x":400,"y":260,"wires":[["913a396.b8074c8"]]},{"id":"a26d27ab.7cfe38","type":"inject","z":"9929af7c.ae976","name":"A1.3_Empty","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Empty","payloadType":"str","x":410,"y":300,"wires":[["913a396.b8074c8"]]},{"id":"ba9166cc.5fb958","type":"debug","z":"9929af7c.ae976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":340,"wires":[]},{"id":"77c83cde.f11b94","type":"ui_switch","z":"9929af7c.ae976","name":"","label":"{{msg.label}}","tooltip":"","group":"647360fd.9a73c","order":3,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"onicon","oncolor":"oncolor","offvalue":"false","offvalueType":"bool","officon":"officon","offcolor":"offcolor","animate":true,"className":"","x":710,"y":340,"wires":[["ba9166cc.5fb958"]]},{"id":"743e8773.5b3918","type":"function","z":"9929af7c.ae976","name":"Gate","func":"if (msg.payload === \"Full\")node.send({ui_control:{onicon:\"bookmark\",oncolor:\"red\"},label:\"A4\",payload:true});\nif (msg.payload === \"Empty\")node.send({ui_control:{officon:\"bookmark\",offcolor:\"green\"},label:\"A4\",payload:false});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":460,"wires":[["b30861d2.4833b"]]},{"id":"131db222.c2f31e","type":"inject","z":"9929af7c.ae976","name":"A1.4_Full","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Full","payloadType":"str","x":400,"y":380,"wires":[["743e8773.5b3918"]]},{"id":"30c4b2b0.9ea41e","type":"inject","z":"9929af7c.ae976","name":"A1.4_Empty","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Empty","payloadType":"str","x":410,"y":420,"wires":[["743e8773.5b3918"]]},{"id":"6b316092.65b29","type":"debug","z":"9929af7c.ae976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"b30861d2.4833b","type":"ui_switch","z":"9929af7c.ae976","name":"","label":"{{msg.label}}","tooltip":"","group":"647360fd.9a73c","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"onicon","oncolor":"oncolor","offvalue":"false","offvalueType":"bool","officon":"officon","offcolor":"offcolor","animate":true,"className":"","x":710,"y":460,"wires":[["6b316092.65b29"]]},{"id":"1d04e79.d877a18","type":"function","z":"9929af7c.ae976","name":"Gate","func":"if (msg.payload === \"Full\")node.send({ui_control:{onicon:\"bookmark\",oncolor:\"red\"},label:\"B1\",payload:true});\nif (msg.payload === \"Empty\")node.send({ui_control:{officon:\"bookmark\",offcolor:\"green\"},label:\"B1\",payload:false});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":580,"wires":[["eb59aea5.0d5e5"]]},{"id":"2e24d743.557368","type":"inject","z":"9929af7c.ae976","name":"B1.1_Full","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Full","payloadType":"str","x":400,"y":500,"wires":[["1d04e79.d877a18"]]},{"id":"a2abc91b.1be3d8","type":"inject","z":"9929af7c.ae976","name":"B1.1_Empty","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Empty","payloadType":"str","x":410,"y":530,"wires":[["1d04e79.d877a18"]]},{"id":"1b8e672e.e6efc9","type":"debug","z":"9929af7c.ae976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":580,"wires":[]},{"id":"eb59aea5.0d5e5","type":"ui_switch","z":"9929af7c.ae976","name":"","label":"{{msg.label}}","tooltip":"","group":"f989b4f.a390848","order":1,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"onicon","oncolor":"oncolor","offvalue":"false","offvalueType":"bool","officon":"officon","offcolor":"offcolor","animate":true,"className":"","x":710,"y":580,"wires":[["1b8e672e.e6efc9"]]},{"id":"40edc731.883588","type":"function","z":"9929af7c.ae976","name":"Gate","func":"if (msg.payload === \"Full\")node.send({ui_control:{onicon:\"bookmark\",oncolor:\"red\"},label:\"B2\",payload:true});\nif (msg.payload === \"Empty\")node.send({ui_control:{officon:\"bookmark\",offcolor:\"green\"},label:\"B2\",payload:false});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":700,"wires":[["965077af.29ad48"]]},{"id":"a820dec.44e862","type":"inject","z":"9929af7c.ae976","name":"B1.2_Full","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Full","payloadType":"str","x":400,"y":640,"wires":[["40edc731.883588"]]},{"id":"f0a2f175.a99a4","type":"inject","z":"9929af7c.ae976","name":"B1.2_Empty","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Empty","payloadType":"str","x":410,"y":670,"wires":[["40edc731.883588"]]},{"id":"b1ad5897.6a04e8","type":"debug","z":"9929af7c.ae976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":700,"wires":[]},{"id":"965077af.29ad48","type":"ui_switch","z":"9929af7c.ae976","name":"","label":"{{msg.label}}","tooltip":"","group":"f989b4f.a390848","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"onicon","oncolor":"oncolor","offvalue":"false","offvalueType":"bool","officon":"officon","offcolor":"offcolor","animate":true,"className":"","x":710,"y":700,"wires":[["b1ad5897.6a04e8"]]},{"id":"82751319.f428","type":"function","z":"9929af7c.ae976","name":"Gate","func":"if (msg.payload === \"Full\")node.send({ui_control:{onicon:\"bookmark\",oncolor:\"red\"},label:\"B3\",payload:true});\nif (msg.payload === \"Empty\")node.send({ui_control:{officon:\"bookmark\",offcolor:\"green\"},label:\"B3\",payload:false});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":800,"wires":[["2879bb31.bcd194"]]},{"id":"6e9d02e9.7dc6ac","type":"inject","z":"9929af7c.ae976","name":"B1.3_Full","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Full","payloadType":"str","x":400,"y":740,"wires":[["82751319.f428"]]},{"id":"65809f13.6c707","type":"inject","z":"9929af7c.ae976","name":"B1.3_Empty","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Empty","payloadType":"str","x":410,"y":770,"wires":[["82751319.f428"]]},{"id":"d58bd9bd.56f7c8","type":"debug","z":"9929af7c.ae976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":800,"wires":[]},{"id":"2879bb31.bcd194","type":"ui_switch","z":"9929af7c.ae976","name":"","label":"{{msg.label}}","tooltip":"","group":"f989b4f.a390848","order":3,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"onicon","oncolor":"oncolor","offvalue":"false","offvalueType":"bool","officon":"officon","offcolor":"offcolor","animate":true,"className":"","x":710,"y":800,"wires":[["d58bd9bd.56f7c8"]]},{"id":"9507d0d2.56918","type":"function","z":"9929af7c.ae976","name":"Gate","func":"if (msg.payload === \"Full\")node.send({ui_control:{onicon:\"bookmark\",oncolor:\"red\"},label:\"B4\",payload:true});\nif (msg.payload === \"Empty\")node.send({ui_control:{officon:\"bookmark\",offcolor:\"green\"},label:\"B4\",payload:false});\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":920,"wires":[["5ec9d275.187f2c"]]},{"id":"e71af8b4.e28098","type":"inject","z":"9929af7c.ae976","name":"B1.4_Full","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Full","payloadType":"str","x":400,"y":840,"wires":[["9507d0d2.56918"]]},{"id":"adb21bbf.b063b8","type":"inject","z":"9929af7c.ae976","name":"B1.4_Empty","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Empty","payloadType":"str","x":410,"y":880,"wires":[["9507d0d2.56918"]]},{"id":"c9405f08.07f28","type":"debug","z":"9929af7c.ae976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":920,"wires":[]},{"id":"5ec9d275.187f2c","type":"ui_switch","z":"9929af7c.ae976","name":"","label":"{{msg.label}}","tooltip":"","group":"f989b4f.a390848","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"onicon","oncolor":"oncolor","offvalue":"false","offvalueType":"bool","officon":"officon","offcolor":"offcolor","animate":true,"className":"","x":710,"y":920,"wires":[["c9405f08.07f28"]]},{"id":"6b744f52.37c8a","type":"mqtt in","z":"9929af7c.ae976","name":"","topic":"A1","qos":"2","datatype":"auto","broker":"f2334ace.a7f9f8","nl":false,"rap":true,"rh":0,"x":170,"y":120,"wires":[["f451dbff.2559c8"]]},{"id":"770ac07a.e42e8","type":"mqtt in","z":"9929af7c.ae976","name":"","topic":"A2","qos":"2","datatype":"auto","broker":"f2334ace.a7f9f8","nl":false,"rap":true,"rh":0,"x":170,"y":220,"wires":[["58a0464a.0f0f18"]]},{"id":"892e2957.d67b28","type":"mqtt in","z":"9929af7c.ae976","name":"","topic":"B4","qos":"2","datatype":"auto","broker":"f2334ace.a7f9f8","nl":false,"rap":true,"rh":0,"x":170,"y":920,"wires":[["9507d0d2.56918"]]},{"id":"2dab443e.14fa2c","type":"mqtt in","z":"9929af7c.ae976","name":"","topic":"A3","qos":"2","datatype":"auto","broker":"f2334ace.a7f9f8","nl":false,"rap":true,"rh":0,"x":170,"y":340,"wires":[["913a396.b8074c8"]]},{"id":"a00eea31.e00598","type":"mqtt in","z":"9929af7c.ae976","name":"","topic":"A4","qos":"2","datatype":"auto","broker":"f2334ace.a7f9f8","nl":false,"rap":true,"rh":0,"x":170,"y":460,"wires":[["743e8773.5b3918"]]},{"id":"eeec90c6.a403d","type":"mqtt in","z":"9929af7c.ae976","name":"","topic":"B1","qos":"2","datatype":"auto","broker":"f2334ace.a7f9f8","nl":false,"rap":true,"rh":0,"x":170,"y":580,"wires":[["1d04e79.d877a18"]]},{"id":"4d14eaf4.0bce44","type":"mqtt in","z":"9929af7c.ae976","name":"","topic":"B2","qos":"2","datatype":"auto","broker":"f2334ace.a7f9f8","nl":false,"rap":true,"rh":0,"x":170,"y":700,"wires":[["40edc731.883588"]]},{"id":"7d02e7e3.3836b8","type":"mqtt in","z":"9929af7c.ae976","name":"","topic":"B3","qos":"2","datatype":"auto","broker":"f2334ace.a7f9f8","nl":false,"rap":true,"rh":0,"x":170,"y":800,"wires":[["82751319.f428"]]},{"id":"647360fd.9a73c","type":"ui_group","name":"Parking Slot A","tab":"1fbf03f4.f3f4ac","order":1,"disp":true,"width":"20","collapse":false,"className":""},{"id":"f989b4f.a390848","type":"ui_group","name":"Parking Slot B","tab":"1fbf03f4.f3f4ac","order":2,"disp":true,"width":"20","collapse":false,"className":""},{"id":"f2334ace.a7f9f8","type":"mqtt-broker","name":"RPi","broker":"localhost","port":"18883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1fbf03f4.f3f4ac","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]